In [1]:
# pip install netCDF4

Requirement already satisfied: netCDF4 in c:\users\coldk\anaconda3\envs\learn-env\lib\site-packages (1.5.4)
Requirement already satisfied: cftime in c:\users\coldk\anaconda3\envs\learn-env\lib\site-packages (from netCDF4) (1.2.1)
Requirement already satisfied: numpy>=1.9 in c:\users\coldk\anaconda3\envs\learn-env\lib\site-packages (from netCDF4) (1.18.5)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Getting bash style code and making sure xarray is installed
# %%bash
# pip install xarray

In [61]:
# Imports for initial data cleaning and EDA
import pandas as pd
import numpy as np
import netCDF4 as nc
import xarray as xr
import os
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from random import gauss, seed
from scipy import stats
import seaborn as sns
%matplotlib inline

# Merging NetCDF Files

After taking a look at the data from https://doi.pangaea.de/10.1594/PANGAEA.909132 I found out that the dataset is in the nc4 file type. I'll need to merge all of the years together as well as convert them into a csv in order to get that information into a dataframe so that I can start my EDA. The first part is my exploration in making this merger through a practice file and then I'll apply my technique to the main file.

In [63]:
# Looking at test practice merge folder
!ls data\practice\

yield_1981.nc4
yield_1982.nc4
yield_1983.nc4
yield_1984.nc4

In [72]:
local_storage_directory = 'C:/Users/Coldk/Documents/Flatiron/capstone/data/'
csv_dir = local_storage_directory + 'csv/'

In [62]:
ls $data/practice/

Parameter format not correct - "practice".

In [69]:
# Creating a directory where the list of files is stored
files_to_convert = local_storage_directory + 'practice/'
!ls -lh $files_to_convert

total 292K
-rw-r--r-- 1 Coldk 197609 39K Jan 27  2020 yield_1981.nc4
-rw-r--r-- 1 Coldk 197609 84K Jan 27  2020 yield_1982.nc4
-rw-r--r-- 1 Coldk 197609 84K Jan 27  2020 yield_1983.nc4
-rw-r--r-- 1 Coldk 197609 84K Jan 27  2020 yield_1984.nc4

In [74]:
# Set a loop to create a .csv file for each .nc file listed in `files_to_convert`
for filename in os.listdir(files_to_convert):
    ds = xr.open_dataset(files_to_convert + filename)
    df = ds.to_dataframe()
    df.to_csv(csv_dir + filename[:-3] + '.csv')
    print (filename + ' has been processed to .csv')

yield_1981.nc4 has been processed to .csv
yield_1982.nc4 has been processed to .csv
yield_1983.nc4 has been processed to .csv
yield_1984.nc4 has been processed to .csv

In [75]:
!ls -lrth $csv_dir

total 16M
-rw-r--r-- 1 Coldk 197609 3.8M Nov  1 13:22 yield_1981..csv
-rw-r--r-- 1 Coldk 197609 3.9M Nov  1 13:22 yield_1982..csv
-rw-r--r-- 1 Coldk 197609 3.9M Nov  1 13:22 yield_1983..csv
-rw-r--r-- 1 Coldk 197609 3.9M Nov  1 13:22 yield_1984..csv

In [77]:
print(df)

               var
lat    lon
-89.75 0.25    NaN
       0.75    NaN
       1.25    NaN
       1.75    NaN
       2.25    NaN
...            ...
 89.75 357.75  NaN
       358.25  NaN
       358.75  NaN
       359.25  NaN
       359.75  NaN

[259200 rows x 1 columns]

In [79]:
df['var'].value_counts()

15.636000    48
15.635999    30
15.636001    23
15.636002    13
0.364241     12
             ..
2.630771      1
10.522892     1
3.630702      1
1.315280      1
4.000012      1
Name: var, Length: 12455, dtype: int64

In [80]:
# Oh gosh I can't use this.
df['var'].isna().sum()

246573